BasedOnStyle: Mozilla
AccessModifierOffset: '-4'
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlinesLeft: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: 'false'
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  AfterClass: false
  AfterControlStatement: false
  AfterFunction: true
  AfterNamespace: false
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
   
ColumnLimit: '100'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: '4'
IncludeCategories:
  - Regex:        '^<zephyr'
    Priority:     2
  - Regex:        '^<'
    Priority:     1
  - Regex:        '^"'
    Priority:     3 
 
IndentCaseLabels: 'false'
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
PointerAlignment: Right
SortIncludes: 'true'
SpaceAfterCStyleCast: 'true'
SpaceBeforeParens: ControlStatements
SpacesInSquareBrackets: 'false'
TabWidth: '4'
UseTab: Never